.mini-track {
  display: flex;
  align-items: center;
  margin: 0.5rem 0;
  width: 100%;
  &:hover {
    .play-button {
      opacity: 1;
    }
  }
  > img {
    width: 60px;
    height: 60px;
    justify-self: flex-start;
    margin-right: 1rem;
  }
  .track-name {
    width: 60%;
  }
  .play-button {
    opacity: 0;
  }
  transition: 01s all;
}
