.playlists-page-wrapper {
  max-height: 350px;
  .playlists-page-header {
    display: flex;
    .playlist-cover {
      width: 270px;
      height: 250px;
      > img {
        width: 100%;
        height: 100%;
      }
    }
    .playlist-info {
      display: flex;
      flex-direction: column;
      padding: 1rem;
      justify-content: space-evenly;
      .playlist-buttons {
        display: flex;
        justify-content: space-between;

        .playlist-play-btn {
          width: 100px;
          padding: 0.5rem 1rem;
          //   border-radius: ;
        }
      }
    }
  }
  .tracklist-header {
    display: flex;
    margin-left: 5rem;
    margin-top: 2rem;
    .title {
      width: 35%;
    }
    .artists {
      width: 20%;
    }
    .album {
      width: 25%;
    }
    .release {
      width: 15%;
    }
  }
  .track-wrapper {
    width: 100%;
    .track {
      width: 100%;
      .track-name {
        min-width: 35%;
      }
      .track-artists {
        width: 20%;
      }
      .track-album {
        width: 30%;
      }
      .track-release {
        width: 20%;
      }
      // justify-content: space-evenly;
    }
  }
}
