.player-track-wrapper {
  display: flex;
  // justify-content: space-evenly;

  .track-cover {
    max-width: 65px;
    height: 65px;
    align-self: center;
    margin-right: 1rem;
    > img {
      height: 100%;
      width: 100%;
    }
  }
  .track-details {
    display: flex;
    font-size: 14px;
    flex-direction: column;
    justify-content: space-evenly;
    min-width: 180px;
    max-width: 230px;
    .track-name {
      font-weight: 300;
      margin-bottom: 8px;
    }
    .track-artist {
      font-weight: 200;
    }
  }
  .track-fav-icon {
    align-self: flex-start;
    margin-top: 12px;
    opacity: 0.7;
    margin-left: 1rem;
    &:hover {
      opacity: 1;
      transform: scale(1.2);
    }
    transition: all 0.2s ease-in-out;
  }
}
