.player-track-wrapper {
  display: flex;
  // justify-content: space-evenly;

  .track-cover {
    max-width: 65px;
    height: 65px;
    align-self: center;
    margin-right: 1rem;
    > img {
      height: 100%;
      width: 100%;
    }
    @media only screen and (max-width: 576px) {
      margin: 0;
      display: none;
    }
  }
  .track-details {
    display: flex;
    font-size: 14px;
    flex-direction: column;
    justify-content: space-evenly;
    max-width: 350px;
    @media only screen and (max-width: 576px) {
      width: 100px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin-right: 4px;
      .track-name {
        display: flex;
      }
    }
    @media only screen and (max-width: 768px) {
      .track-artist {
        display: none;
      }
    }
    .track-name {
      font-weight: 300;
      margin-bottom: 8px;
    }
    .track-artist {
      font-weight: 200;
    }
  }
  .fav-button-div {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    border: none;
    margin-left: 12px;
  }
  .track-name {
    display: flex;
  }
}
