.playlist {
  width: 250px;
  height: 340px;
  margin: 1em;
  .playlist-cover {
    position: relative;
    width: 250px;
    height: 250px;
    margin: 0 auto;
    > img {
      height: 100%;
      width: 100%;
    }
    .playlist-play-icon-div,
    .playlist-fav {
      position: absolute;
      bottom: 5%;
    }
    .playlist-fav {
      left: 2%;
      font-size: 1.6rem;
    }
    .playlist-play-icon-div {
      right: -7%;
      font-size: 2rem;
      padding: 0.6rem;
      display: flex;
      color: #fff;

      padding-left: 0.9rem;
      border-radius: 200px;
    }
  }
}
