.playlist {
  width: 250px;
  height: 340px;
  margin: 1em;
  .playlist-cover {
    position: relative;
    width: 250px;
    height: 250px;
    margin: 0 auto;
    > img {
      height: 100%;
      width: 100%;
    }
    .playlist-fav {
    }
    .fav-button-div {
      position: absolute;
      bottom: 5%;
      left: 2%;
      font-size: 1.6rem;
      border: none;
      .fav-button-icon {
        // color: black;
      }
    }
    .playlist-play-icon-div {
      position: absolute;
      bottom: 5%;
      right: -14%;

      background-color: transparent;
      // display: flex;
      // align-items: center;
      // justify-content: center;
      .play-button-icon {
        // width: 100%;
        width: 60px;
        height: 60px;
        border-radius: 60px;
      }
    }
  }
}
