.album-page-wrapper {
  max-height: 250px;
  .album-header {
    display: flex;
    margin-bottom: 2rem;
    .album-cover {
      width: 150px;
      height: 150px;
      margin-right: 1rem;
      > img {
        width: 100%;
        height: 100%;
      }
    }
    .album-info {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
    }
  }
  .tracklist-header {
    width: 90%;
    display: flex;
    justify-content: space-between;
    padding: 0rem;
    margin: 0 auto;
  }
  .track-wrapper {
    margin: 0 auto;
    .track {
      justify-content: space-between;
    }
  }
}
