.layout {
  .search-wrapper {
    position: absolute;
    left: 50%;
  }
  .layout-page {
    display: flex;
    .sidebar-wrapper,
    page-content {
      min-height: 100vh;
    }
    .sidebar-wrapper {
      width: 15%;
      background-color: black;
    }
    .page-content {
      flex-grow: 1;
      background-color: crimson;
    }
  }
  .player-wrapper {
    position: fixed;
    bottom: 0;
    height: 10vh;
    width: 100vw;
  }
}
