@import "../../colors.scss";
.layout {
  overflow: hidden;
  min-height: 100vh;
  .search-wrapper {
    position: absolute;
    left: 50%;
  }
  .layout-page {
    display: flex;
    .sidebar-wrapper,
    page-content {
      height: 100vh;
    }
    .sidebar-wrapper {
      min-width: 20vw;
      position: fixed;
      height: 100%;
      overflow: auto;
      background-color: var(--background-color);
    }
    .page-content {
      height: inherit;
      padding: 2em;
      min-height: 100vh;
      min-width: 80vw;
      background-color: var(--page-bg);
      padding-bottom: 5vw;
      padding-top: 4em;
      overflow: auto;
      margin-left: 20vw;
    }
  }
  .player-wrapper {
    position: fixed;
    bottom: 0;
    height: 10vh;
    width: 100vw;
  }
}
