.track-wrapper {
  // width: 80%;

  color: #fff;
  padding: 1rem 0;
  justify-content: space-between;
  width: 100%;
  // max-width: 70vw;
  border-bottom: 2px solid #282828;
  .track {
    display: flex;
    transition: 0.2s all ease;
    margin: 0 auto;
    &:hover {
      .track-name {
        .play-button-icon {
          opacity: 1;
        }
      }
    }
    .track-name {
      display: flex;
      padding: 0 0.5rem;
      align-items: center;
      .track-name-buttons {
        display: flex;
      }
      .play-button-icon {
        width: 30px;
        height: 30px;
        opacity: 0;
        margin-right: 0;
      }
    }

    .track-name,
    .track-artists,
    .track-album {
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}
