.track-wrapper {
  // width: 80%;

  color: #fff;
  padding: 1rem 0;
  justify-content: space-between;
  width: 100%;
  // max-width: 70vw;
  border-bottom: 2px solid #282828;
  .track {
    display: flex;
    margin: 0 auto;
  }
}
