.message-div {
  position: absolute;
  bottom: 10vh;
  left: 35%;
  width: 50%;
  padding: 1rem;
  background: crimson;
  border-radius: 5px;
  text-align: center;
}

.message-div.error {
  background: crimson;
}

.message-div.info {
  background-color: #4e98ed;
}
