.search-wrapper {
  position: fixed;
  z-index: 200;
  left: 30%;
  top: 1.2rem;
  width: 150px;
  @media only screen and (max-width: 768px) {
    width: 100px;
    left: 40%;
  }
  @media only screen and (max-width: 576px) {
    width: 100px;
    left: 5%;
    top: 7.5rem;
  }
  > input {
    width: 100%;
    &:focus {
      width: 200%;
    }
    transition: width 0.3s ease;
    border: 0;
    padding: 0.7rem 0.8rem;
    border-radius: 20px;
    &:focus {
      border: 0;
      outline: 0;
    }
  }
}
