.liked-songs-wrapper {
  width: 60vw;
  //   .tracklist-header {
  //     display: flex;
  //     margin: 0 auto;
  //     width: 60%;

  //     .title {
  //       width: 35%;
  //     }
  //     .artists {
  //       width: 25%;
  //     }
  //     .album {
  //       width: 20%;
  //     }
  //     .release {
  //       width: 15%;
  //     }
  //   }
  //   .track-wrapper {
  //     // width: 100%;
  //     .track {
  //       display: flex;
  //       // justify-content: space-evenly;
  //       .track-name {
  //         width: 30%;
  //         margin-left: 2rem;
  //       }
  //       .track-artists {
  //         width: 20%;
  //         text-align: center;
  //       }
  //     }
  //   }
  .tracklist-header {
    display: flex;
    @media only screen and (max-width: 1076px) {
      display: none;
    }

    width: 90%;
    margin: 0 auto;
    margin-top: 2rem;
    .title {
      width: 45%;
    }
    .artists {
      width: 25%;
    }
    .album {
      width: 30%;
    }
    .release {
      display: none;
    }
  }
  .liked-songs {
    width: 90%;
    margin: 0 auto;
    .track-wrapper {
      width: 100%;
      .track {
        width: 100%;
        @media only screen and (max-width: 1076px) {
          flex-direction: column;
          align-items: left;
        }
        .track-name {
          width: 35%;
          white-space: nowrap;
          text-overflow: ellipsis;
          @media only screen and (max-width: 1076px) {
            width: 100%;
            flex-direction: row-reverse;
            margin: 0;
            padding: 0;
            justify-content: space-between;
            > span {
              // margin-left: 57px;
              justify-self: flex-start;
            }
            // justify-content: space-between;
            .play-button-icon {
              opacity: 1;
              margin-left: 0;
            }
            .fav-button-md {
            }
          }
        }
        .track-artists {
          width: 20%;
        }
        .track-album {
          width: 30%;
        }
        .track-release {
          display: none;
        }
        .track-artists,
        .track-album,
        .track-release {
          @media only screen and (max-width: 1076px) {
            border-bottom: 8px;
          }
        }

        // justify-content: space-evenly;
      }
    }
  }
}
