.player-wrapper {
  background-color: #282828;
  width: 100vw;
  display: flex;
  // justify-content: space-evenly;
  align-items: center;
  .player-track-wrapper {
    justify-self: flex-start;
    padding: 1rem;
    min-width: 300px;
    max-width: 400px;
  }
  .player-controls {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-self: center;
    margin-left: 5rem;
    width: 60%;
    height: 100%;
    .player-buttons {
      width: 300px;
      align-self: center;
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;
      .play-pause-button {
        padding: 8px;
        display: flex;
        align-self: center;
        width: 30px;
        height: 30px;
        border-radius: 20px;
        margin-top: -8px;
        border: 1px solid white;
        .fa-play {
          padding-left: 20px;
        }
      }
    }
    .player-progressbar {
    }
  }
}
