.player-wrapper {
  background-color: #282828;
  width: 100vw;
  display: flex;
  // justify-content: space-between;
  @media only screen and (max-width: 768px) {
    // justify-content: space-between;
  }
  align-items: center;
  .player-track-wrapper {
    justify-self: flex-start;
    padding: 1rem;
    width: 25%;
    @media only screen and (max-width: 576px) {
      width: 150px;
      padding: 0;
    }
  }
  .player-controls {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-self: center;
    margin: 0 3rem;
    width: 50%;
    height: 100%;
    @media only screen and (max-width: 576px) {
      margin: 0.5rem;
    }
    .player-buttons {
      width: 300px;
      @media only screen and (max-width: 576px) {
        width: 200px;
        margin: 0;
        justify-self: right;
      }
      align-self: center;
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;
      .play-pause-button {
        padding: 8px;
        display: flex;
        align-self: center;
        width: 30px;
        height: 30px;
        border-radius: 20px;
        margin-top: -8px;
        border: 1px solid white;
        .fa-play {
          padding-left: 20px;
        }
      }
    }
    .player-progressbar {
      display: flex;
      justify-content: center;
      font-size: 0.7em;
      .progressbar {
        width: 50%;
        margin: 0 auto;
      }
    }
  }
  .player-devices-volume {
    display: flex;
    width: 200px;
    align-items: center;
    justify-self: flex-end;
    @media only screen and (max-width: 768px) {
      display: none;
    }
    .player-devices {
      margin-left: 1rem;
    }
  }
}
