@import "./colors.scss";

a {
  text-decoration: none;
  color: var(--text-color);
}
p {
  margin: 0;
  padding: 0;
}

button {
  border: 0;
  padding: 0;
  background-color: var(--accent-color);
  color: var(--text-color);
  border-radius: 20px;
  &:focus {
    outline: none;
  }
}

.fav-button-div {
  border: 1.5px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover {
    .fav-button-icon {
      color: white;
    }
  }
}

.fav-button-md {
  width: 30px;
  height: 30px;
  border: none;
  .fav-button-icon {
    font-size: 1em;
  }
}

.fav-button-lg {
  width: 40px;
  height: 40px;
  padding: 8px;
  border-radius: 40px;
  .fav-button-icon {
    font-size: 1.2em;
  }
}

.play-button-icon {
  height: 40px;
  width: 40px;
  padding: 8px;
  background-color: var(--accent-color);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 5px;
  margin-right: 1rem;
}

.playing-visible {
  opacity: 1 !important;
}
.play-button-text {
  height: 30px;
  width: 100px;
}
// Nav-link styling
.page-nav-links-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  padding: 2em 0;
  text-transform: uppercase;
  color: var(--text-color);
  border-bottom: 2px solid transparent;

  .page-nav-link {
    letter-spacing: 1px;
    padding: 1em 0;
  }
  .page-nav-link-active {
    border-bottom: 3px solid var(--accent-color);
    color: var(--highlight-color);
  }
}

.layout,
.page {
  background-color: var(--bg-color);
  min-height: 100vh;
  color: var(--text-color);
}

.text-muted {
  color: rgba(255, 255, 255, 0.6);
}

.hover-accent {
  &:hover {
    color: var(--accent-color);
  }
  transition: all 0.2s ease-in-out;
}

.hover-white {
  &:hover {
    color: #fff;
    transition: scale(1.1);
  }
  transition: all 0.2s ease-in-out;
}

.hover-border-white {
  border-bottom: 2px solid transparent;

  &:hover {
    border-bottom: 2px solid #fff;
  }
}

.accent-active {
  color: var(--accent-color);
}

.page-title {
  font-size: 36px;
  font-weight: 600;
  color: #fff;
  text-transform: capitalize;
}

.highlight {
  color: var(--highlight-color);
}

.no-highlight {
  color: var(--text-color);
}
.bg-accent {
  background-color: var(--accent-color);
}
.bb-1-w {
  border-bottom: 1px solid var(--text-color);
}

.pb8 {
  padding-bottom: 0.5em;
}
.fw-m {
  font-weight: 500;
}

.fw-r {
  font-weight: 400;
}

.fw-l {
  font-weight: 300;
}

.fw-b {
  font-weight: 600;
}

.fs-0-6 {
  font-size: 0.6em;
}

.fs-0-8 {
  font-size: 0.8em;
}

.fs-0-9 {
  font-size: 0.9em;
}
.fs-1 {
  font-size: 1em;
}

.fs-1-2 {
  font-size: 1.2em;
}

.fs-1-3 {
  font-size: 1.3em;
}
.fs-1-4 {
  font-size: 1.4em;
}
.fs-1-5 {
  font-size: 1.5em;
}
.fs-1-6 {
  font-size: 1.6em;
}

.fs-1-7 {
  font-size: 1.7em;
}

.fs-1-8 {
  font-size: 1.8em;
}
.fs-3 {
  font-size: 3em;
}

.fs-4 {
  font-size: 4em;
}
.fs-6 {
  font-size: 6em;
}
.mb4 {
  margin-bottom: 4px;
}
.mb8 {
  margin-bottom: 8px;
}

.mb16 {
  margin-bottom: 16px;
}

.mt4 {
  margin-top: 4px;
}

.mt8 {
  margin-top: 8px;
}

.mt16 {
  margin-top: 16px;
}
.cursor-pointer {
  cursor: pointer;
}

.link {
  padding-bottom: 4px;
  border-bottom: 1px solid transparent;
  display: inline-block !important;
  &:hover {
    border-bottom: 1px solid var(--text-color);
  }
}

.hover-item {
  &:hover {
    background-color: #282828;
  }
}

.border-bottom {
  padding-bottom: 8px;
  border-bottom: 2px solid #2b2b2b;
}

.ta-c {
  text-align: center;
}
