@import "./colors.scss";
.layout,
.page {
  background-color: var(--bg-color);
  min-height: 100vh;
  color: var(--text-color);
}

.text-muted {
  color: rgba(255, 255, 255, 0.6);
}

.hover-accent {
  &:hover {
    color: var(--accent-color);
  }
}

.hover-white {
  &:hover {
    color: #fff;
    transition: scale(1.1);
  }
  transition: all 0.2s ease-in-out;
}

.accent-active {
  color: var(--accent-color);
}
